@media (min-width: 768px) {
  .album {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  figure img {
    width: 300px;
    height: auto;
  }
}
/* --- NAVIGATION (desktop) --- */
nav {
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  background-color: #4b006e;
}

nav a {
  padding: 1rem;
  border-radius: 6px;
}

/* Keep hover consistent */
nav a:hover {
  background-color: #fff;
  color: #4b006e;
  transform: translateY(-2px);
}
